{% extends "layout.html" %} 
{% block title %} Chai store Page {% endblock title %} 
{% block content %}
    <div class="">
        <form method="POST" class="text-black bg-white px-5 py-3 flex items-center gap-4">
            {% csrf_token %} 
            {{form.as_p}} 
            <button type="submit" class="px-4 py-2 bg-orange-500 text-white">Search store</button>
            </form>

            {% if stores %}
                <h2>Stores Available</h2>
                <ul>
                    {% for store in stores %}
                        <li>{{store.name}} - {{store.location}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>
{% endblock content %}